/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	margin-top: 20px;
	display: block;
	clear: both;
	float: left;
	width: 100%;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 20px;
	padding: 20px;
	background-color:$color-secondary;
}

.sidebar .widget-title{
	color: $color-white;
	border-bottom: 2px solid tint($color-active, 100%);
	padding-bottom: 20px;
}

/* ## Sidebar menu
---------------------------------------------------------------------- */

.sidebar .menu{
	li{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
		a{
			color: tint($color-active, 100%);
			&:hover,
			&:focus,
			&:active{
				color: tint($color-active, 80%);
			}
		}
	}
	.current_page_item{
		a{
			color: $color-black;
		}
	}
}