/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
---------------------------------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
}

.site-inner{
	clear: both;
	display: block;
	padding-top: 60px;
	margin: 0 auto;
	width:100%;
}
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width: 90%;
	.gridcontainer.white{
		.wrap,
		.row_headline{
			width: 100%;
		}
	}
}

/* ### Site Containers Full-width
--------------------------------------------- */

.full-width-content .site-inner .content .breadcrumb,
.full-width-content .site-inner .content .entry{
	width:90%;
	margin: 0 auto;
}
.full-width-content .site-inner .content .entry{
	@include font(2, 3);
	margin-bottom: 0px;
}
.home-section.full-width-content .site-inner .content .entry{
	padding: 40px 0;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	padding: 30px 0;
	.row_headline{
		width: 90%;
    	margin: 0 auto;
		margin: 0 auto 20px;
	}
	.wrap{
		width: 90%;
    	margin: 0 auto;
		section{
			padding: 30px 0 0;
		}
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		width: 100%;
		.wysiwyg{
			display: flex;
			flex-flow: column;
			justify-content: center;
			margin: 0 auto;
			padding: 60px 0;
			width: 90%;
			max-width: 640px;
		}
	}
}
.gridcontainer{
	.backimage{
		position: relative;
		min-height: 50vh;
		background-size: cover;
		background-position: 50% 50%;
		.wp-caption-text {
			position: absolute;
			right: 0;
			bottom: 0;
			color: #fff;
			font-size: 12px;
			font-size: 1.2rem;
			line-height: 12px;
			line-height: 1.2rem;
			background-color: rgba(17, 51, 61,.35);
			padding: 10px 20px;
		}
	}
}
.gridcontainer{
	.gridimage{
		min-width: 100%;
		object-fit: cover;
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.black,
.gridcontainer.grey,
.gridcontainer.secondary,
.gridcontainer.active{
	padding: 60px 0;
}
.gridcontainer.black{
	background-color: $color-black;
	color: $color-white;
	a.button:hover{
		box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.35);
	}
	h1,h2,h3,h4,h5,h6{
		color: $color-white;
	}
}
.gridcontainer.grey{
	background-color: tint($color-primary, 80%);
}
.gridcontainer.secondary{
	background-color: $color-secondary;
	color: $color-white;
	a{
		color: tint($color-active, 100%);
		&:hover,
		&:focus,
		&:active{
			color: tint($color-active, 80%);
		}
	}
}
.gridcontainer.active{
	background-color: $color-active;
	color: $color-white;
	a{
		color: tint($color-active, 60%);
		&:hover,
		&:focus,
		&:active{
			color: tint($color-active, 40%);
		}
	}
}