/* # WPML
---------------------------------------------------------------------------------------------------- */

a.wpml-ls-link{
    color:tint($color-primary, 100%);
    font-weight: 900;
    letter-spacing: 0.2em;
    .wpml-ls-native{
        color: $color-secondary;
    }
}