/* # WPML
---------------------------------------------------------------------------------------------------- */

a.wpml-ls-link{
    color:$color-primary;
    font-weight: 900;
    letter-spacing: 0.2em;
    .wpml-ls-native{
        color: $color-secondary;
    }
}